<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                {% include "includes/nav.html" %}
            </div>
            <div class="col-xs-12 col-md-6">
                <p><a href="">assurance-voyage.fr</a> est un site édité par <a href="https://kelips.fr/"
                                                                               target="_blank">Kelip's Assurance SAS</a>.
                </p>
                <img src="img/logo-kelips.png" width="278" height="100"/>
            </div>
        </div>
    </div>
</section>