{% extends "includes/base.html" %}
{% block title %}Assurance voyage | Devis rapide et tarif pour tous les budgets{% endblock %}
{% block description %}Assurance voyage étudiant, longue durée, globe trotter, voyage d'affaires, assurance vacance, voyage internationale. Obtenez un devis rapidement..{% endblock %}


{% block body %}
{% include "includes/menu.html" %}
<section id="deco">
    <div class="container">
        <div class="content row">
            <div class="col-md-8 col-md-offset-2">
                <h1>Assurance voyage, protégez-vous durant vos séjours à l’étranger sans vous ruiner</h1>
                <a href="" class="MyButton">Obtenir un devis</a>
            </div>
        </div>
    </div>
</section>

<section id="recent-works">
    <div class="container">
        <div class="row">
            <h2>Nos assurances voyage</h2>
            <p class="lead">Obtenez l'assurance voyage qui vous correspond
            </p>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="img/assu-01.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <a href="">découvrir</a>
                        </div>
                    </div>
                    <h3>Assurance voyage Vacance</h3>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="img/assu-02.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <a href="">découvrir</a>
                        </div>
                    </div>
                    <h3>Assurance voyage étudiant</h3>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="img/assu-03.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <a href="">découvrir</a>
                        </div>
                    </div>
                    <h3>Assurance voyage Globe trotter</h3>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="img/assu-04.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <a href="">découvrir</a>
                        </div>
                    </div>
                    <h3>Assurance voyage déplacement professionnel</h3>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="img/assu-05.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <a href="">découvrir</a>
                        </div>
                    </div>
                    <h3>Assurance voyage visa Schengen</h3>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="img/assu-06.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <a href="">découvrir</a>
                        </div>
                    </div>
                    <h3>Assurance voyage expatrié</h3>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="img/assu-07.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <a href="">découvrir</a>
                        </div>
                    </div>
                    <h3>Assurance voyage tour du monde</h3>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="img/assu-08.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <a href="">découvrir</a>
                        </div>
                    </div>
                    <h3>Assurance voyage internationale</h3>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="img/assu-09.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <a href="">découvrir</a>
                        </div>
                    </div>
                    <h3>Assurance voyage annulation voyage</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="edito">
    <div class="container">
        <div class="row">
            <h2>Pourquoi souscrire à une assurance voyage ?</h2>
            <p class="lead">Ne gâchez pas votre séjour à cause de la maladie ou d’un accident
            </p>
            <p>Vous partez seul, en couple, en famille ou avec des amis ? Il est indispensable de souscrir à une
                assurance voyage. En effet, lorsque vous êtes à l’étranger vous n’avez plus la même protection sociale
                qu’en France et d’un pays à l’autre les frais médicaux peuvent exploser ! Avec nos assurances voyage
                vous bénéficiez d’une couverture frais de soin et d’une assistance quelque soit les pays de
                destination.</p>
        </div>
    </div>
</section>
{% include "includes/cta.html" %}
<section class="edito">
    <div class="container">
        <div class="row">
            <h2>Les différentes garanties d’une assurance voyage ?</h2>
            <p class="lead">Découvrez la liste des principales garanties que vous pouvez trouver dans une assurance
                voyage
            </p>
        </div>
        <div class="row garanties">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h3>Frais médicaux</h3>
                <p>L’assurance prend en charge vos dépenses de santé et frais d’hospitalisation</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h3>Rapatriement médical</h3>
                <p>En cas de maladie ou d’accident l’assureur prend en charge les frais de rapatriement d’urgence</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h3>Assistance à l’étranger</h3>
                <p>Besoin d’une information, d’un moyen de transport à l’étranger à la suite d’un accident ? La garantie
                    assistance est là pour ça.</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h3>Bagage</h3>
                <p>On vous a volé vos bagages ou vous l’avez perdu ? La garantie bagage vous couvre.</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h3>Annulation</h3>
                <p>L’assureur vous rembourse vos frais en cas d’annulation du voyage pour cause de maladie par
                    exemple.</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h3>Responsabilité civile</h3>
                <p>Cette garantie couvre votre responsabilité civile à l’étranger</p>
            </div>
        </div>
    </div>
</section>
<section class="edito">
    <div class="container">
        <div class="row">
            <h2>Un peu d’information sur l’assurance voyage ça vous dit ?</h2>
            <p class="lead">L’assurance voyage est un sujet complexe, voici quelques informations pour vous aider à
                faire les bons choix
            </p>
        </div>
        <div class="row info">
            <div class="col-xs-6 col-sm-6 col-md-3">
                <h3>L’assurance des cartes de crédit</h3>
                <h5>Le saviez-vous</h5>
                <p>La plupart des assurances des cartes de crédit ne vous couvrent pas pour les voyages de plus de 90
                    jours et les garanties sont souvent très faibles.</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <h3>L’attestation d’assurance pour obtenir le visa</h3>
                <h5>Le saviez-vous</h5>
                <p>Pour voyager dans certains pays vous avez l’obligation de présenter une attestation d’assurance pour
                    obtenir le VISA. Dès la souscription du contrat vous vous adressons votre attestation d’assurance
                    voyage (ex: Russie, Chine, Algérie)</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <h3>La mutuelle étudiante et l’assurance voyage</h3>
                <h5>Le saviez-vous</h5>
                <p>Lorsque vous partez à l’étranger pour un stage ou un séjour linguistique il y a de forte chance que
                    votre mutuelle étudiante ne fonctionne pas, il est alors indispensable de prendre une assurance
                    voyage</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <h3>Les frais de santé au 1er euro</h3>
                <h5>Le saviez-vous</h5>
                <p>Lorsque vous êtes à l’étranger vous n’avez plus la même protection qu’en France (sécurité sociale,
                    mutuelle). Nos contrats d’assurance possèdes des offres au 1er euro c’est à dire que nous vous
                    indemnisons tous les frais médicaux engagés.</p>
            </div>
        </div>
    </div>
</section>
{% include "includes/cta.html" %}
{% include "includes/footer.html" %}
{% endblock %}