<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Assurance drone professionnel | assurancesdrones.fr</title>
    <meta name="description" content="Spécialiste des assurances de drones professionnels. Profitez de notre expertise en assurance de drones professionnels et obtenez rapidement un devis !
">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    {{'Hello World'}}
</body>
</html>